//
//This template receive config and data
//
p 索引: #{config.fullIndex}
p 設置的觸發筆數: #{config.op} #{config.threshold}
p 當前次數: #{data.hitscount}
p 觸發紀錄(至多十筆):

div
  table
    thead
      tr
        each f in config.interestedField
          th #{f}
    tbody
      each r in data.interestedRes
        tr
          each f in config.interestedField
            td #{r[f]}

br

p 說明敘述:
pre #{config.extraMailBody}

br

if config.referenceLink
  a(href=config.referenceLink) 參考連結

p 完整搜尋句柄

pre !{JSON.stringify(config.postContent, undefined, 2)}
