//
//This template receive query result
//and configuration
p 索引: #{config.fullIndex}
p 查詢字串: #{config.queryString}
p 查詢範圍: #{config.queryRange}

p 設置的觸發筆數: #{data.threshold}
p 當前次數: #{data.hitscount}

p 觸發紀錄(至多十筆):

ul
  each val in data.hits
    li= val.avg_val.value + ': ' + val.val_speed.value

p 完整搜尋句柄

//pre #{config.querySource} 
pre !{JSON.stringify(config.querySource, undefined, 2)}

